<html>


<style>


    td {
        white-space: normal;
        word-wrap: break-word;
        max-width: 100px;
        text-align: left;
        padding-left: 40px;

    }

    table {
        white-space: nowrap !important;
        table-layout: auto;

    }

    /*p
    {
        word-wrap: break-word;
        border: 1px solid #000000;
    }*/


</style>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<body>

<p style="text-align: center;"><img
        src="https://tookan.s3.amazonaws.com/task_images/WbNW1504623499889-2136271926229047427873931130188n.png"
        style="height:70px; width:200px"/>

<p style="text-align: center;">

<p style="text-align: center;">11506 - 38 Street Edmonton, AB T5W 2G7

<table style="width:100%;" align="center">


    <tr>
        <td style="width:30%">Date:</td>
        <td>{{PStartDate}}</td>
    </tr>
    <tr>
        <td>Reference Number:</td>
        <td>
            {{ ReferenceNumber}}
        </td>
    </tr>
    <tr>
        <td>Way Bill No:</td>
        <td>
            {{PTaskID}}
        </td>
    </tr>
    <tr>
        <td>Driver's Name:</td>
        <td>
            {{DriverName}}
        </td>
    </tr>
    <tr>
        <td>Shipper:</td>
        <td>
            {{PCustomerName}}
        </td>
    </tr>
    <tr>
        <td>Shippers Email</td>
        <td>
            {{SEmail}}
        </td>
    </tr>
    <tr>
        <td>Shipper Address:</td>
        <td>
            {{PCustomerAddress}}
        </td>
    </tr>
    <tr>
        <td>Consignee:</td>
        <td>
            {{DCustomerName}}
        </td>
    </tr>
    <tr>
        <td>Consignee Address:</td>
        <td>
            {{DCustomerAddress}}
        </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>
            {{PTaskDescription}}
        </td>
    </tr>
    <tr>
        <td>Delivery Charges:</td>
        <td>
            ${{DeliveryCharges}}
        </td>
    </tr>
    <tr>
        <td>GST:</td>
        <td>
            ${{GST}}
        </td>
    </tr>
    <tr>
        <td>Total Charges:</td>
        <td>
            ${{TotalCharges}}
        </td>
    </tr>
    <tr>
        <td>Service Type: </td>
        <td>
            {{ServiceType}}
        </td>
    </tr>
    <tr>
        <td>Payment Status: </td>
        <td>
            {{PaymentStatus}}
        </td>
    </tr>
    <tr>
        <td>Shipper</td>
        <td>
            <img src="{{PSignImage}}"
                 style="height:60px; width:130px"/>
        </td>
    </tr>
    <tr>
        <td>Receiver Name</td>
        <td>
            {{ReceiverName}}
        </td>
    </tr>
    <tr>
        <td>Receiver</td>
        <td>
            <img src="{{DSignImage}}" style="height:60px; width:130px"/></td>
    </tr>
</table>
</body>


</html>