h3 List Users
form(action="listUsers", method="get")
    div.actions
        input(type='submit', value='get')

h3 Find Users
form(action="findUsers", method="post")
    div.input
        span.label Name
        input(type='text', name='name', required)
    div.actions
        input(type='submit', value='find')

h3 Add User
form(action="addUser", method="post")
    div.input
        span.label Name
        input(type='text', name='name', required)
    div.input
        span.label Age
        input(type='text', name='age', required)
    div.actions
        input(type='submit', value='add')

h3 Render HTML
form(action="postRenderHtml", method="post")
    div.input
        span.label Transaction ID
        input(type='text', name='transactionID', required)
    div.actions
        input(type='submit', value='Render')

h3 Upload File
form(action="uploadFile", method="post", enctype='multipart/form-data')
    div.input
        span.label File
        input(type='file', name='name', required)
    div.actions
        input(type='submit', value='Upload')

h3 Download File
form(action="downloadFile", method="get")
    div.actions
        input(type='submit', value='download')